<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<p>Dear ~~FIRSTNAME~~ ~~LASTNAME~~,<br /><br />

Thank you for you completion of the setup form for T4K.<br />
We would like to inform you that your fundraising page has been approved for the amount of ~~AMOUNT~~.<br /><br />
Please use the following link in your fundraising: <a href="~~PAGELINK~~">~~PAGELINK~~</a><br /><br />
Thank you</p>
</body>
</html>
